* {
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: space-between;
}
/* navigation start  */

.navigation {
    background-color: #000;
    color:white;
    height:826px;
    width:25%;
    position:fixed !important;
    overflow: hidden;  
}

.navigation img {
    width: 173px;
    height: 173px;
    border-radius: 12px;
    margin: 85px auto;
}

.list {
    margin-top: 10px;
    color: white;
    overflow: hidden;
}

ol {
    overflow: hidden;
}

ol a:hover {
    text-decoration: none !important;
    overflow: hidden;
    
}
ol a:hover li {
    transform: scale(1.5);
    transition: 1.5s;
    color:aqua;
    overflow: hidden;
}

.icons {
    bottom: 0;
    padding-top: 78px;
    font-size: 28px;
    padding-bottom: 92px;
}

.icons a {
    color: white;
}

.icons i {
    margin-left: 12px;
}

/* about start here  */

.about-desc {
    width:75%;
    left:25% !important;
    position: absolute;
    margin:0 !important;
}

#about h1 {
    margin-top: 10%;
    margin-bottom: 23px;
    overflow: hidden;
    color: blue;
}

.about-desc p {
    font-style: oblique;

}

/* about end  */

/* skills start here  */

h2 {
    margin:0 !important;
    padding-top: 12px;
    overflow: hidden;
}

.skill-desc {
    text-align: left;
    padding-left: 19% !important;
}

.skill-desc li{
    margin-top: 12px;
    padding: 10px 0;
    width: 65%;
    border-bottom: 1px solid gray;
}

/* experience start here  */

.exp-img {
    margin:22px;
    width: 378px;
    height: 300px;
    border-radius: 14px
}

span i {
    font-size: 80px !important;
    margin:55px 5px 18px;
  
}

h6,
h4,
h5 {
    overflow: hidden;
}

/* project start here  */

.proj-wrap {
    margin-left: 325px;
    padding-top:25px;
    
}


.proj-desc {
    margin: 0 auto;
    margin-top: 12px;
}

.proj-title {
    margin-left: 75px; 
}

.proj-title span {
    font-weight: 600;
}

.proj-title a {
    margin-left: 15px;
}

/* contact start here  */

.mail {
    padding-top: 15px;
    
}

.mail a {
    color:black !important;
    font-size: 25px;
} 

.mail a:hover {
  color:red !important;
  text-decoration:none;
  transition: 1.5s;
}

.con {
    color:black;
    font-size: 25px;
}

.con:hover {
    text-decoration: none;
    color:green;
    transition: 1s;
}

.con-desc {
    font-size: 30px;
    margin-right: 12px;
}

.phone {
    padding-bottom: 32px;
    padding-top: 10px;
}


@media (max-width:400px) {
    .navigation {
        height:100%;
        width:35%;
    }
    .navigation img {
        width:50px;
        height:50px;
    }

    ol a:hover {
        text-decoration: none;
        overflow: hidden;
        
    }
    ol a:hover li {
        transform: scale(1.5);
        transition: 1.5s;
        color:aqua;
        overflow: hidden;
    }

    .exp-img {
        width:140px !important;
        border-radius: 14px;
        /* border-radius: 5px !important; */
        height: 140px !important;
    }

    .proj-wrap {
        margin-left: 0px !important;
    }

    .about-desc {
        width:50% !important;
        left:40% !important;
    }
    
    .mail a,
    .phone a {
        width:70% !important;
        font-size: 15px !important;
    }
}

@media (min-width:405px) and (max-width:800px) {
.navigation {
    height: 100% !important;
}

ol a:hover {
    text-decoration: none;
    overflow: hidden;
    
}

ol a:hover li {
    transform: scale(1.5);
    transition: 1.5s;
    color:aqua;
    overflow: hidden;
}
    .navigation img {
    width:75px;
    height:75px;
}   
.proj-wrap {
    margin-left: 75px !important;
} 
  .mail a,
  .phone a {
    font-size: 18px !important;
     margin-left: 0px !important;
  }
}

@media (min-width:805px) and (max-width:1200px){
    .navigation {
        height: 100%;
    }

    ol a:hover {
        text-decoration: none;
        overflow: hidden;
        
    }
    ol a:hover li {
        transform: scale(1.5);
        transition: 1.5s;
        color:aqua;
        overflow: hidden;
    }

    .proj-wrap {
        margin-left: 100px !important;
        margin-bottom: 22px !important;
    }
}

@media (min-width:1201px) and (max-width:1480px) {
    ol a:hover {
        text-decoration: none;
        overflow: hidden;
        
    }
    ol a:hover li {
        transform: scale(1.5);
        transition: 1.5s;
        color:aqua;
        overflow: hidden;
    }
    .proj-wrap {
        margin-left: 325px;
    }
    
}
